.post-type-product {
	.selectize-control {
		position: static;
	}
	
	.center {
		text-align: center;
	}
	
	.no_padding {
		padding: 0px;
	}
	
	span.description {
		font-weight: normal;
		color: #aaa;
	}
	
	textarea.description {
		width: 100%;
	}
	
	.bigger {
		font-size: 1.1em;
		line-height: 2em;
		display: block;
	}
	
	table {
		.variant, .tier {
			td {
				border-bottom: 1px solid #ddd;
			}
		}

		input {
			max-width: 100%;
		}
		
		td {
			vertical-align: middle;
			
			.dashicons-trash {
				font-size: 16px;
				color: #aaa;
			}
		}
	}
}